body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

p {
    color: #8f8f8f;
    
}

ol {
    list-style-type: style none;
}


.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
  
.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #2978b5;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    padding-top: 50px;
    
}



#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.icon {
    color: #0e49b5;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #153e90;
}



#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.social-icon {
    margin: 20px 30px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }
  
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

#cta {
    padding-bottom: 50px;
}

#footer {

}